*.apk
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
/iosAppComposeUi/iosApp.xcworkspace/contents.xcworkspacedata
/iosAppComposeUi/iosApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/iosAppComposeUi/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
